<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <variable name="layout"
            value="${longdate:universalTime=true}|${level:uppercase=true}|${logger}|${message}${onexception:|Exception occurred\:${exception:format=tostring}}" />

  <targets>
    <target
      name="file"
      xsi:type="File"
      fileName="Logs/WiFiSwithcer-${shortdate}.log"
      layout="${layout}"
      archiveAboveSize="5000000"
      maxArchiveFiles="5" />

    <target xsi:type="Console" name="console" layout="${layout}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="file" />
    <logger name="*" minlevel="Trace" writeTo="console" />
  </rules>
</nlog>